In [72]:
from pyspark.sql import SparkSession

spark = SparkSession \
     .builder \
     .appName("Some basic examples") \
     .getOrCreate()

In [98]:
df = spark.read.csv("/home/jovyan/work/car_ad.csv", header = "true", inferSchema =  "true")

In [268]:
df.show(6)

+-------------+-------+---------+-------+----+-------+------------+----+-------+-----+
|          car|  price|     body|mileage|engV|engType|registration|year|  model|drive|
+-------------+-------+---------+-------+----+-------+------------+----+-------+-----+
|         Ford|15500.0|crossover|     68| 2.5|    Gas|         yes|2010|   Kuga| full|
|Mercedes-Benz|20500.0|    sedan|    173| 1.8|    Gas|         yes|2011|E-Class| rear|
|Mercedes-Benz|35000.0|    other|    135| 5.5| Petrol|         yes|2008| CL 550| rear|
|Mercedes-Benz|17800.0|      van|    162| 1.8| Diesel|         yes|2012|  B 180|front|
|Mercedes-Benz|33000.0|    vagon|     91|  NA|  Other|         yes|2013|E-Class| null|
|       Nissan|16600.0|crossover|     83|   2| Petrol|         yes|2013|X-Trail| full|
+-------------+-------+---------+-------+----+-------+------------+----+-------+-----+
only showing top 6 rows

In [68]:
df.printSchema()

root
 |-- car: string (nullable = true)
 |-- price: double (nullable = true)
 |-- body: string (nullable = true)
 |-- mileage: integer (nullable = true)
 |-- engV: string (nullable = true)
 |-- engType: string (nullable = true)
 |-- registration: string (nullable = true)
 |-- year: integer (nullable = true)
 |-- model: string (nullable = true)
 |-- drive: string (nullable = true)

In [69]:
df.columns

['car',
 'price',
 'body',
 'mileage',
 'engV',
 'engType',
 'registration',
 'year',
 'model',
 'drive']

In [ ]:
df.describe()
#!conda install -c damianavila82 rise  --yes

Fetching package metadata ............

In [117]:
df.describe().show()

+-------+-----+------------------+---------+-----------------+-----------------+-------+------------+------------------+------------------+-----+
|summary|  car|             price|     body|          mileage|             engV|engType|registration|              year|             model|drive|
+-------+-----+------------------+---------+-----------------+-----------------+-------+------------+------------------+------------------+-----+
|  count| 9576|              9576|     9576|             9576|             9576|   9576|        9576|              9576|              9576| 9065|
|   mean| null|15633.317315961785|     null|138.8623642439432|2.646344344782306|   null|        null|2006.6059941520468|2747.7056752873564| null|
| stddev| null|24106.523435656214|     null|98.62975395449988|5.927699368554418|   null|        null| 7.067924205743787| 9920.775922036484| null|
|    min|Acura|               0.0|crossover|                0|              0.1| Diesel|          no|              1953|          1 Series|front|
|    max| �UAZ|          547800.0|      van|              999|               NA| Petrol|         yes|              2016|      ������������| rear|
+-------+-----+------------------+---------+-----------------+-----------------+-------+------------+------------------+------------------+-----+

In [218]:
from pyspark.sql.types import StructField, StringType, StructType, IntegerType, FloatType, LongType

In [240]:
data_schema = [StructField('car', StringType(), nullable=True),
               StructField('price', FloatType(), True),
               StructField('body', StringType(), nullable=True),
               StructField('mileage', dataType=IntegerType(), nullable=True),
               StructField('engV', StringType(), False),
               StructField('engType', dataType=StringType(), nullable=True),
               StructField('year', StringType(), nullable=True),
               StructField('model', StringType(), True),
               StructField('drive', StringType(), nullable=True)]

In [241]:
final_struc = StructType(data_schema)

In [242]:
df1 = spark.read.csv("/home/jovyan/work/car_ad.csv", header = "true", schema =  final_struc)

In [243]:
df1.printSchema()

root
 |-- car: string (nullable = true)
 |-- price: float (nullable = true)
 |-- body: string (nullable = true)
 |-- mileage: integer (nullable = true)
 |-- engV: string (nullable = true)
 |-- engType: string (nullable = true)
 |-- year: string (nullable = true)
 |-- model: string (nullable = true)
 |-- drive: string (nullable = true)

In [244]:
df1.show()

+-------------+---------+---------+-------+----+-------+----+-----+---------+
|          car|    price|     body|mileage|engV|engType|year|model|    drive|
+-------------+---------+---------+-------+----+-------+----+-----+---------+
|         Ford|  15500.0|crossover|     68| 2.5|    Gas| yes| 2010|     Kuga|
|Mercedes-Benz|  20500.0|    sedan|    173| 1.8|    Gas| yes| 2011|  E-Class|
|Mercedes-Benz|  35000.0|    other|    135| 5.5| Petrol| yes| 2008|   CL 550|
|Mercedes-Benz|  17800.0|      van|    162| 1.8| Diesel| yes| 2012|    B 180|
|Mercedes-Benz|  33000.0|    vagon|     91|  NA|  Other| yes| 2013|  E-Class|
|       Nissan|  16600.0|crossover|     83|   2| Petrol| yes| 2013|  X-Trail|
|        Honda|   6500.0|    sedan|    199|   2| Petrol| yes| 2003|   Accord|
|      Renault|  10500.0|    vagon|    185| 1.5| Diesel| yes| 2011|   Megane|
|Mercedes-Benz|  21500.0|    sedan|    146| 1.8|    Gas| yes| 2012|  E-Class|
|Mercedes-Benz|  22700.0|    sedan|    125| 2.2| Diesel| yes| 2010|  E-Class|
|       Nissan|20447.154|crossover|      0| 1.2| Petrol| yes| 2016|  Qashqai|
|Mercedes-Benz|  20400.0|    sedan|    190| 1.8|    Gas| yes| 2011|  E-Class|
|Mercedes-Benz|  22500.0|    sedan|    164| 1.8|    Gas| yes| 2012|  E-Class|
|          BMW|   4700.0|    sedan|    200|  NA| Petrol| yes| 1996|      316|
|Mercedes-Benz|  21500.0|    sedan|    159| 1.8|    Gas| yes| 2012|  E-Class|
|          BMW|  19999.0|    sedan|    290| 4.8| Petrol| yes| 2006|      750|
|          BMW| 129222.0|    sedan|      2|   5| Petrol| yes| 2016|      750|
|Mercedes-Benz|  99999.0|crossover|      0|   3| Petrol| yes| 2016|GLE-Class|
|       Nissan|  16600.0|crossover|     83|   2| Petrol| yes| 2013|  X-Trail|
|          BMW|  73900.0|    sedan|     57| 4.4| Petrol| yes| 2013|       M5|
+-------------+---------+---------+-------+----+-------+----+-----+---------+
only showing top 20 rows

In [245]:
type(df1['car'])

pyspark.sql.column.Column

In [246]:
type(df1.select('car'))

pyspark.sql.dataframe.DataFrame

In [248]:
df1.select('car').show(5)

+-------------+
|          car|
+-------------+
|         Ford|
|Mercedes-Benz|
|Mercedes-Benz|
|Mercedes-Benz|
|Mercedes-Benz|
+-------------+
only showing top 5 rows

In [269]:
df1.select(['car','model']).show(5)

+-------------+-----+
|          car|model|
+-------------+-----+
|         Ford| 2010|
|Mercedes-Benz| 2011|
|Mercedes-Benz| 2008|
|Mercedes-Benz| 2012|
|Mercedes-Benz| 2013|
+-------------+-----+
only showing top 5 rows

In [267]:
print("Printing entire row")
print("------------------------")
print(df.head(2)[1])
print("\nPrinting a variable calling its name")
print("------------------------")
print(df.head(2)[1].model)

Printing entire row
------------------------
Row(car='Mercedes-Benz', price=20500.0, body='sedan', mileage=173, engV='1.8', engType='Gas', registration='yes', year=2011, model='E-Class', drive='rear')

Printing a variable calling its name
------------------------
E-Class

In [285]:
df.withColumn('newEngV', df['engV']*2).show()

+-------------+---------+---------+-------+----+-------+------------+----+---------+-----+-------+
|          car|    price|     body|mileage|engV|engType|registration|year|    model|drive|newEngV|
+-------------+---------+---------+-------+----+-------+------------+----+---------+-----+-------+
|         Ford|  15500.0|crossover|     68| 2.5|    Gas|         yes|2010|     Kuga| full|    5.0|
|Mercedes-Benz|  20500.0|    sedan|    173| 1.8|    Gas|         yes|2011|  E-Class| rear|    3.6|
|Mercedes-Benz|  35000.0|    other|    135| 5.5| Petrol|         yes|2008|   CL 550| rear|   11.0|
|Mercedes-Benz|  17800.0|      van|    162| 1.8| Diesel|         yes|2012|    B 180|front|    3.6|
|Mercedes-Benz|  33000.0|    vagon|     91|  NA|  Other|         yes|2013|  E-Class| null|   null|
|       Nissan|  16600.0|crossover|     83|   2| Petrol|         yes|2013|  X-Trail| full|    4.0|
|        Honda|   6500.0|    sedan|    199|   2| Petrol|         yes|2003|   Accord|front|    4.0|
|      Renault|  10500.0|    vagon|    185| 1.5| Diesel|         yes|2011|   Megane|front|    3.0|
|Mercedes-Benz|  21500.0|    sedan|    146| 1.8|    Gas|         yes|2012|  E-Class| rear|    3.6|
|Mercedes-Benz|  22700.0|    sedan|    125| 2.2| Diesel|         yes|2010|  E-Class| rear|    4.4|
|       Nissan|20447.154|crossover|      0| 1.2| Petrol|         yes|2016|  Qashqai|front|    2.4|
|Mercedes-Benz|  20400.0|    sedan|    190| 1.8|    Gas|         yes|2011|  E-Class| rear|    3.6|
|Mercedes-Benz|  22500.0|    sedan|    164| 1.8|    Gas|         yes|2012|  E-Class| rear|    3.6|
|          BMW|   4700.0|    sedan|    200|  NA| Petrol|         yes|1996|      316| rear|   null|
|Mercedes-Benz|  21500.0|    sedan|    159| 1.8|    Gas|         yes|2012|  E-Class| rear|    3.6|
|          BMW|  19999.0|    sedan|    290| 4.8| Petrol|         yes|2006|      750| rear|    9.6|
|          BMW| 129222.0|    sedan|      2|   5| Petrol|         yes|2016|      750| full|   10.0|
|Mercedes-Benz|  99999.0|crossover|      0|   3| Petrol|         yes|2016|GLE-Class| full|    6.0|
|       Nissan|  16600.0|crossover|     83|   2| Petrol|         yes|2013|  X-Trail| full|    4.0|
|          BMW|  73900.0|    sedan|     57| 4.4| Petrol|         yes|2013|       M5| rear|    8.8|
+-------------+---------+---------+-------+----+-------+------------+----+---------+-----+-------+
only showing top 20 rows

In [288]:
df.withColumnRenamed('car','car_name_changed').show()

+----------------+---------+---------+-------+----+-------+------------+----+---------+-----+
|car_name_changed|    price|     body|mileage|engV|engType|registration|year|    model|drive|
+----------------+---------+---------+-------+----+-------+------------+----+---------+-----+
|            Ford|  15500.0|crossover|     68| 2.5|    Gas|         yes|2010|     Kuga| full|
|   Mercedes-Benz|  20500.0|    sedan|    173| 1.8|    Gas|         yes|2011|  E-Class| rear|
|   Mercedes-Benz|  35000.0|    other|    135| 5.5| Petrol|         yes|2008|   CL 550| rear|
|   Mercedes-Benz|  17800.0|      van|    162| 1.8| Diesel|         yes|2012|    B 180|front|
|   Mercedes-Benz|  33000.0|    vagon|     91|  NA|  Other|         yes|2013|  E-Class| null|
|          Nissan|  16600.0|crossover|     83|   2| Petrol|         yes|2013|  X-Trail| full|
|           Honda|   6500.0|    sedan|    199|   2| Petrol|         yes|2003|   Accord|front|
|         Renault|  10500.0|    vagon|    185| 1.5| Diesel|         yes|2011|   Megane|front|
|   Mercedes-Benz|  21500.0|    sedan|    146| 1.8|    Gas|         yes|2012|  E-Class| rear|
|   Mercedes-Benz|  22700.0|    sedan|    125| 2.2| Diesel|         yes|2010|  E-Class| rear|
|          Nissan|20447.154|crossover|      0| 1.2| Petrol|         yes|2016|  Qashqai|front|
|   Mercedes-Benz|  20400.0|    sedan|    190| 1.8|    Gas|         yes|2011|  E-Class| rear|
|   Mercedes-Benz|  22500.0|    sedan|    164| 1.8|    Gas|         yes|2012|  E-Class| rear|
|             BMW|   4700.0|    sedan|    200|  NA| Petrol|         yes|1996|      316| rear|
|   Mercedes-Benz|  21500.0|    sedan|    159| 1.8|    Gas|         yes|2012|  E-Class| rear|
|             BMW|  19999.0|    sedan|    290| 4.8| Petrol|         yes|2006|      750| rear|
|             BMW| 129222.0|    sedan|      2|   5| Petrol|         yes|2016|      750| full|
|   Mercedes-Benz|  99999.0|crossover|      0|   3| Petrol|         yes|2016|GLE-Class| full|
|          Nissan|  16600.0|crossover|     83|   2| Petrol|         yes|2013|  X-Trail| full|
|             BMW|  73900.0|    sedan|     57| 4.4| Petrol|         yes|2013|       M5| rear|
+----------------+---------+---------+-------+----+-------+------------+----+---------+-----+
only showing top 20 rows

In [289]:
df.createOrReplaceTempView('cars')

In [295]:
results = spark.sql("SELECT car,body,mileage from cars WHERE mileage >200 ")
results.show()

+-------------+---------+-------+
|          car|     body|mileage|
+-------------+---------+-------+
|          BMW|    sedan|    290|
|          BMW|crossover|    235|
|         Audi|    vagon|    273|
|         Audi|    sedan|    260|
|         Audi|    vagon|    215|
|          BMW|    sedan|    300|
|Mercedes-Benz|    vagon|    212|
|         Audi|    sedan|    240|
|   Volkswagen|    vagon|    320|
|   Volkswagen|    sedan|    300|
|          BMW|    sedan|    260|
|Mercedes-Benz|      van|    280|
|Mercedes-Benz|      van|    223|
|Mercedes-Benz|      van|    450|
|   Volkswagen|      van|    231|
|          BMW|    vagon|    240|
|Mercedes-Benz|    sedan|    221|
|         Opel|    vagon|    231|
|          BMW|    sedan|    214|
|   Volkswagen|    sedan|    255|
+-------------+---------+-------+
only showing top 20 rows