In [4]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Basic Operations").getOrCreate()

In [6]:
!pwd

/home/jovyan/work/Spark

In [12]:
df = spark.read.csv("/home/jovyan/work/files/appl_stock.csv", inferSchema=True, header=True)

In [13]:
df.printSchema()

root
 |-- Date: timestamp (nullable = true)
 |-- Open: double (nullable = true)
 |-- High: double (nullable = true)
 |-- Low: double (nullable = true)
 |-- Close: double (nullable = true)
 |-- Volume: integer (nullable = true)
 |-- Adj Close: double (nullable = true)

In [14]:
df.show(5)

+--------------------+----------+----------+------------------+------------------+---------+------------------+
|                Date|      Open|      High|               Low|             Close|   Volume|         Adj Close|
+--------------------+----------+----------+------------------+------------------+---------+------------------+
|2010-01-04 00:00:...|213.429998|214.499996|212.38000099999996|        214.009998|123432400|         27.727039|
|2010-01-05 00:00:...|214.599998|215.589994|        213.249994|        214.379993|150476200|27.774976000000002|
|2010-01-06 00:00:...|214.379993|    215.23|        210.750004|        210.969995|138040000|27.333178000000004|
|2010-01-07 00:00:...|    211.75|212.000006|        209.050005|            210.58|119282800|          27.28265|
|2010-01-08 00:00:...|210.299994|212.000006|209.06000500000002|211.98000499999998|111902700|         27.464034|
+--------------------+----------+----------+------------------+------------------+---------+------------------+
only showing top 5 rows

In [57]:
print(df.filter("Close > 600").count())
df.filter("Close > 600").select(["Date", "Close"]).show()

112
+--------------------+-----------------+
|                Date|            Close|
+--------------------+-----------------+
|2012-03-19 00:00:...|       601.100006|
|2012-03-20 00:00:...|       605.959984|
|2012-03-21 00:00:...|602.4999849999999|
|2012-03-26 00:00:...|        606.97998|
|2012-03-27 00:00:...|614.4800190000001|
|2012-03-28 00:00:...|        617.62001|
|2012-03-29 00:00:...|609.8599929999999|
|2012-04-02 00:00:...|618.6300200000001|
|2012-04-03 00:00:...|       629.319984|
|2012-04-04 00:00:...|624.3099900000001|
|2012-04-05 00:00:...|       633.679977|
|2012-04-09 00:00:...|       636.229996|
|2012-04-10 00:00:...|       628.440018|
|2012-04-11 00:00:...|        626.20002|
|2012-04-12 00:00:...|622.7699809999999|
|2012-04-13 00:00:...|        605.22998|
|2012-04-17 00:00:...|       609.699989|
|2012-04-18 00:00:...|       608.340012|
|2012-04-25 00:00:...|       610.000023|
|2012-04-26 00:00:...|607.6999969999999|
+--------------------+-----------------+
only showing top 20 rows

In [65]:
result = df.filter(df.Close > 600).collect()
print(result[10])

Row(Date=datetime.datetime(2012, 4, 5, 0, 0), Open=626.980011, High=634.6600269999999, Low=623.400009, Close=633.679977, Volume=160324500, Adj Close=82.099293)

In [75]:
row = result[10]
row.asDict()

{'Adj Close': 82.099293,
 'Close': 633.679977,
 'Date': datetime.datetime(2012, 4, 5, 0, 0),
 'High': 634.6600269999999,
 'Low': 623.400009,
 'Open': 626.980011,
 'Volume': 160324500}

In [76]:
row.count('Volume')

0