In [7]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import (dayofmonth, dayofyear, hour, month, year, weekofyear, format_number, date_format, format_number)
spark = SparkSession.builder.appName('Dates & Times').getOrCreate()

In [8]:
df = spark.read.csv('/home/jovyan/work/files/appl_stock.csv', header=True, inferSchema=True)

In [10]:
df.show(3)

+--------------------+----------+----------+------------------+----------+---------+------------------+
|                Date|      Open|      High|               Low|     Close|   Volume|         Adj Close|
+--------------------+----------+----------+------------------+----------+---------+------------------+
|2010-01-04 00:00:...|213.429998|214.499996|212.38000099999996|214.009998|123432400|         27.727039|
|2010-01-05 00:00:...|214.599998|215.589994|        213.249994|214.379993|150476200|27.774976000000002|
|2010-01-06 00:00:...|214.379993|    215.23|        210.750004|210.969995|138040000|27.333178000000004|
+--------------------+----------+----------+------------------+----------+---------+------------------+
only showing top 3 rows

In [23]:
df.select([
           dayofmonth('Date').alias('Day'), 
           month('Date'), 
           year('Date'), 
           format_number('Open', 1).alias('Open'), 
           format_number('High', 1).alias('High'), 
           format_number('Low', 1).alias('High')
          ]).show()

+---+-----------+----------+-----+-----+-----+
|Day|month(Date)|year(Date)| Open| High| High|
+---+-----------+----------+-----+-----+-----+
|  4|          1|      2010|213.4|214.5|212.4|
|  5|          1|      2010|214.6|215.6|213.2|
|  6|          1|      2010|214.4|215.2|210.8|
|  7|          1|      2010|211.8|212.0|209.1|
|  8|          1|      2010|210.3|212.0|209.1|
| 11|          1|      2010|212.8|213.0|208.5|
| 12|          1|      2010|209.2|209.8|206.4|
| 13|          1|      2010|207.9|210.9|204.1|
| 14|          1|      2010|210.1|210.5|209.0|
| 15|          1|      2010|210.9|211.6|205.9|
| 19|          1|      2010|208.3|215.2|207.2|
| 20|          1|      2010|214.9|215.5|209.5|
| 21|          1|      2010|212.1|213.3|207.2|
| 22|          1|      2010|206.8|207.5|197.2|
| 25|          1|      2010|202.5|204.7|200.2|
| 26|          1|      2010|206.0|213.7|202.6|
| 27|          1|      2010|206.8|210.6|199.5|
| 28|          1|      2010|204.9|205.5|198.7|
| 29|          1|      2010|201.1|202.2|190.3|
|  1|          2|      2010|192.4|196.0|191.3|
+---+-----------+----------+-----+-----+-----+
only showing top 20 rows

In [55]:
newdf = df.withColumn("Year", year(df['Date']))
newdf.columns

['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Adj Close', 'Year']

In [69]:
newdf.groupBy('Year').avg().select([
                                    'Year',
                                    format_number('avg(Close)', 2).alias('Close'),
                                    format_number('avg(Open)', 2).alias('Open')
                                    ]).orderBy(newdf['Year'].desc()).show()

+----+------+------+
|Year| Close|  Open|
+----+------+------+
|2016|104.60|104.51|
|2015|120.04|120.18|
|2014|295.40|295.14|
|2013|472.63|473.13|
|2012|576.05|576.65|
|2011|364.00|364.06|
|2010|259.84|259.96|
+----+------+------+