In [36]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import countDistinct, avg, stddev, format_number
spark = SparkSession.builder.appName("Groupby & Aggregate").getOrCreate()

In [22]:
df = spark.read.csv('/home/jovyan/work/files/sales_info.csv', inferSchema=True, header=True)

In [23]:
df.show()

+-------+-------+-----+
|Company| Person|Sales|
+-------+-------+-----+
|   GOOG|    Sam|200.0|
|   GOOG|Charlie|120.0|
|   GOOG|  Frank|340.0|
|   MSFT|   Tina|600.0|
|   MSFT|    Amy|124.0|
|   MSFT|Vanessa|243.0|
|     FB|   Carl|870.0|
|     FB|  Sarah|350.0|
|   APPL|   John|250.0|
|   APPL|  Linda|130.0|
|   APPL|   Mike|750.0|
|   APPL|  Chris|350.0|
+-------+-------+-----+

In [24]:
df.printSchema()

root
 |-- Company: string (nullable = true)
 |-- Person: string (nullable = true)
 |-- Sales: double (nullable = true)

In [25]:
df.groupBy("Company")

In [26]:
df.groupBy("Company").sum().show()
df.groupBy("Company").count().show()

+-------+----------+
|Company|sum(Sales)|
+-------+----------+
|   APPL|    1480.0|
|   GOOG|     660.0|
|     FB|    1220.0|
|   MSFT|     967.0|
+-------+----------+

+-------+-----+
|Company|count|
+-------+-----+
|   APPL|    4|
|   GOOG|    3|
|     FB|    2|
|   MSFT|    3|
+-------+-----+

In [28]:
df.agg({'Sales':'sum'}).show()

+----------+
|sum(Sales)|
+----------+
|    4327.0|
+----------+

In [34]:
df.select(avg('Sales').alias('Avg. Sales')).show()

+-----------------+
|       Avg. Sales|
+-----------------+
|360.5833333333333|
+-----------------+

In [43]:
sales_devaition = df.select(stddev('Sales').alias('Standard Deviation'))
sales_devaition.select(format_number('Standard Deviation', 2).alias('Std Dev')).show()

+-------+
|Std Dev|
+-------+
| 250.09|
+-------+

In [48]:
df.orderBy(df['Sales'].asc()).show()

+-------+-------+-----+
|Company| Person|Sales|
+-------+-------+-----+
|   GOOG|Charlie|120.0|
|   MSFT|    Amy|124.0|
|   APPL|  Linda|130.0|
|   GOOG|    Sam|200.0|
|   MSFT|Vanessa|243.0|
|   APPL|   John|250.0|
|   GOOG|  Frank|340.0|
|     FB|  Sarah|350.0|
|   APPL|  Chris|350.0|
|   MSFT|   Tina|600.0|
|   APPL|   Mike|750.0|
|     FB|   Carl|870.0|
+-------+-------+-----+