In [97]:
#   +-+-+-+-+-+-+ +-+-+-+-+-+-+-+-+-+-+
#   |L|i|n|e|a|r| |R|e|g|r|e|s|s|i|o|n|
#   +-+-+-+-+-+-+ +-+-+-+-+-+-+-+-+-+-+
#                                                       
#   ________  ________  ________  ________  ___  __    
#  |\   ____\|\   __  \|\   __  \|\   __  \|\  \|\  \   
#  \ \  \___|\ \  \|\  \ \  \|\  \ \  \|\  \ \  \/  /|_ 
#   \ \_____  \ \   ____\ \   __  \ \   _  _\ \   ___  \
#    \|____|\  \ \  \___|\ \  \ \  \ \  \\  \\ \  \\ \  \
#      ____\_\  \ \__\    \ \__\ \__\ \__\\ _\\ \__\\ \__\
#     |\_________\|__|     \|__|\|__|\|__|\|__|\|__| \|__|
#     \|_________| 
#

In [111]:
import seaborn as sns
import numpy as np
from matplotlib import pyplot as plt
from scipy import stats
import requests
from faker import Faker
import ujson as json
import pandas as pd
import requests
from numpy import random 
from elasticsearch import Elasticsearch
from elasticsearch import helpers
from elasticsearch_dsl import Search, DocType, Date, Integer, Keyword, Text
from datetime import datetime
from elasticsearch_dsl.connections import connections
import requests
from random import randint
from pandas.io.json import json_normalize
from pandasticsearch import DataFrame
from pandasticsearch import Select



ES_HOST = 'http://ec2-34-205-15-150.compute-1.amazonaws.com:9200'
ES_HOST_wo_PORT = 'http://ec2-34-205-15-150.compute-1.amazonaws.com'
INDEX = "eda_xxsmall"
ES_PORT = "9200"
DOC_TYPE="user"
es = Elasticsearch(ES_HOST)
es.indices.put_settings(index=INDEX,
                        body= {"index" : {
                                "max_result_window" : 750000
                              }})

print(spark)
print(spark.version)

<pyspark.sql.session.SparkSession object at 0x7f57a35597f0>
2.1.0

In [112]:
#################################################################
###
###  Import SparkSession and LinearRegression from 
###  pyspark.sql and pysparl.ml.regression respectively 
###  
##################################################################

from pyspark.sql import SparkSession
from pyspark.ml.regression import LinearRegression

In [113]:
#################################################################
###
###  SparkSession - a new entry point
###  A SparkSession can be created using a builder pattern. 
###  The builder will automatically reuse an existing SparkContext 
###  if one exists; and create a SparkContext if it does not exist. 
###  
##################################################################

spark = SparkSession.builder.appName("LModel").getOrCreate()

In [120]:
## Create Elasticsearch Query
query = {
            "from" : 0, 
            "size" : 10000,
            "query": {
                        "match_all": {}
                     }
            }
## Import Data
result_dict = es.search(index=INDEX, body=query)

In [119]:
#################################################################
###
###  Importing data into Panda Dataframe first via Pandastactic and than 
###  creating a spark Dataframe.  
###  @Todo create Spark datframe directly from Elastcisearch 
###  
##################################################################

result_dict = es.search(index=INDEX, body=query)
pandas_df = Select.from_dict(result_dict).to_pandas()
pandas_df = pandas_df.set_index(['_id'])
pandas_df.drop(['_index', '_score', '_type'],inplace=True,axis=1,errors='ignore')

spark_df = spark.createDataFrame(pandas_df)

In [121]:
spark_df.printSchema()

root
 |-- Avg Order Value: double (nullable = true)
 |-- City: string (nullable = true)
 |-- days_since_last_purchase: long (nullable = true)
 |-- discount_percentage: long (nullable = true)
 |-- email_unsubscribe: boolean (nullable = true)
 |-- f_score: long (nullable = true)
 |-- lifecycle: string (nullable = true)
 |-- m_score: long (nullable = true)
 |-- name: string (nullable = true)
 |-- num_of_orders: long (nullable = true)
 |-- r_score: long (nullable = true)
 |-- revenue: long (nullable = true)
 |-- rfm_score: long (nullable = true)
 |-- segments: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- signup_date: string (nullable = true)
 |-- total_discount_revenue: double (nullable = true)

In [122]:
spark_df.count()

6245

In [123]:
# A few things we need to do before Spark can accept the data!
# It needs to be in the form of two columns
# ("label","features")

# Import VectorAssembler and Vectors
from pyspark.ml.linalg import Vectors
from pyspark.ml.feature import VectorAssembler

In [125]:
spark_df.columns

['Avg Order Value',
 'City',
 'days_since_last_purchase',
 'discount_percentage',
 'email_unsubscribe',
 'f_score',
 'lifecycle',
 'm_score',
 'name',
 'num_of_orders',
 'r_score',
 'revenue',
 'rfm_score',
 'segments',
 'signup_date',
 'total_discount_revenue']

In [131]:
assembler = VectorAssembler(
    inputCols=['Avg Order Value','days_since_last_purchase'],
    outputCol="features")

output = assembler.transform(spark_df)

output.select("features").show()

output.show()

+------------------+---------+------------------------+-------------------+-----------------+-------+---------------+-------+-----------------+-------------+-------+-------+---------+--------------------+-------------------+----------------------+--------------------+
|   Avg Order Value|     City|days_since_last_purchase|discount_percentage|email_unsubscribe|f_score|      lifecycle|m_score|             name|num_of_orders|r_score|revenue|rfm_score|            segments|        signup_date|total_discount_revenue|            features|
+------------------+---------+------------------------+-------------------+-----------------+-------+---------------+-------+-----------------+-------------+-------+-------+---------+--------------------+-------------------+----------------------+--------------------+
|            2432.0|Hyderabad|                      48|                  9|            false|      1|Repeat_Sleeping|      4|  Henry Patterson|            2|      5|   4864|       10|                  []|2016-04-29T01:57:59|                437.76|[2432.0,48.0,9.0,...|
|            3993.5|Bangalore|                      95|                 27|            false|      1| Repeat_Churned|      5|Christina Bennett|            2|      3|   7987|        9|[High_Discount_Se...|2015-06-27T03:16:48|               2156.49|[3993.5,95.0,27.0...|
|           1114.75|    Delhi|                       5|                 25|            false|      3|  Repeat_Active|      4|   Joseph Lang MD|            4|      9|   4459|       16|               [NCR]|2015-11-01T06:32:09|               1114.75|[1114.75,5.0,25.0...|
|2559.3333333333335|Ahmedabad|                      71|                 22|            false|      2| Repeat_Churned|      5|  Janice Martinez|            3|      4|   7678|       11|                  []|2015-07-28T10:35:23|               1689.16|[2559.33333333333...|
|            1643.0|    Thane|                      84|                 13|            false|      4|  Loyal_Churned|      5|       Duane West|            6|      4|   9858|       13|                  []|2015-07-22T13:20:55|               1281.54|[1643.0,84.0,13.0...|
|            2009.0|Bangalore|                      89|                 24|             true|      2| Repeat_Churned|      5|      David Bowen|            3|      4|   6027|       11|                  []|2016-01-25T17:08:55|               1446.48|[2009.0,89.0,24.0...|
|            2716.5|    Delhi|                      32|                 16|            false|      1|Repeat_Sleeping|      5|      Craig Stout|            2|      6|   5433|       12|               [NCR]|2015-10-09T06:26:23|                869.28|[2716.5,32.0,16.0...|
| 614.3333333333334|Bangalore|                      41|                  5|            false|      5| Loyal_Sleeping|      5|   Sandra Sanchez|           12|      6|   7372|       16|                  []|2015-08-20T20:19:57|                 368.6|[614.333333333333...|
| 543.1818181818181|    Delhi|                      40|                  7|            false|      5| Loyal_Sleeping|      5|      Lisa Ashley|           11|      6|   5975|       16|               [NCR]|2016-05-07T11:03:14|                418.25|[543.181818181818...|
|            3846.0|    Delhi|                      58|                 17|            false|      1|Repeat_Sleeping|      5|  Amanda Figueroa|            2|      5|   7692|       11|[NCR, High_Cart_V...|2015-10-16T05:29:25|               1307.64|[3846.0,58.0,17.0...|
|            1057.0|   Mumbai|                      82|                 10|            false|      3|  Loyal_Churned|      5|   Jennifer Allen|            5|      4|   5285|       12|                  []|2016-02-05T15:48:35|                 528.5|[1057.0,82.0,10.0...|
| 522.3333333333334|Ahmedabad|                      55|                 22|            false|      4| Loyal_Sleeping|      4|    Aaron Jimenez|            9|      5|   4701|       13|                  []|2016-05-01T10:38:30|               1034.22|[522.333333333333...|
|            3790.5|    Delhi|                       3|                  6|            false|      1|  Repeat_Active|      5|   Robert Holland|            2|      9|   7581|       15|[NCR, High_Cart_V...|2016-03-14T09:49:44|                454.86|[3790.5,3.0,6.0,1...|
|            2291.0|Bangalore|                      44|                 21|            false|      3|Repeat_Sleeping|      5|    Douglas Young|            4|      6|   9164|       14|                  []|2016-05-08T18:54:43|               1924.44|[2291.0,44.0,21.0...|
|            3320.5|   Mumbai|                      89|                 16|            false|      1| Repeat_Churned|      5|        Amy Vance|            2|      4|   6641|       10|   [High_Cart_Value]|2016-03-07T18:16:10|               1062.56|[3320.5,89.0,16.0...|
|            3399.0| Vadodara|                      60|                 14|            false|      1|Repeat_Sleeping|      5| Anthony Williams|            2|      4|   6798|       10|   [High_Cart_Value]|2015-12-25T18:37:44|                951.72|[3399.0,60.0,14.0...|
|2384.3333333333335|   Mumbai|                      67|                 17|            false|      2| Repeat_Churned|      5|     Philip Perez|            3|      4|   7153|       11|                  []|2015-11-06T08:09:34|               1216.01|[2384.33333333333...|
|            2978.5|    Delhi|                       6|                 12|            false|      1|  Repeat_Active|      5|      Shawn Avery|            2|      9|   5957|       15|               [NCR]|2015-07-01T01:03:19|                714.84|[2978.5,6.0,12.0,...|
|            1328.0|Ahmedabad|                       3|                 22|            false|      2|  Repeat_Active|      4|   Lauren Aguilar|            3|      9|   3984|       15|                  []|2015-07-16T12:23:54|                876.48|[1328.0,3.0,22.0,...|
|            3800.5|    Delhi|                      58|                 11|            false|      1|Repeat_Sleeping|      5|       Susan Bray|            2|      5|   7601|       11|[NCR, High_Cart_V...|2016-06-04T19:40:35|                836.11|[3800.5,58.0,11.0...|
+------------------+---------+------------------------+-------------------+-----------------+-------+---------------+-------+-----------------+-------------+-------+-------+---------+--------------------+-------------------+----------------------+--------------------+
only showing top 20 rows

In [135]:
final_data = output.select("features",'revenue')

In [136]:
train_data,test_data = final_data.randomSplit([0.7,0.3])

In [137]:
train_data.describe().show()

+-------+------------------+
|summary|           revenue|
+-------+------------------+
|  count|              4409|
|   mean| 8800.925153095941|
| stddev|10668.943000398764|
|    min|                 0|
|    max|             39966|
+-------+------------------+

In [138]:
test_data.describe().show()

+-------+-----------------+
|summary|          revenue|
+-------+-----------------+
|  count|             1836|
|   mean|9179.119281045752|
| stddev|11061.47557354978|
|    min|                0|
|    max|            39999|
+-------+-----------------+

In [139]:
# Create a Linear Regression Model object
lr = LinearRegression(labelCol='revenue')

In [140]:
# Fit the model to the data and call this model lrModel
lrModel = lr.fit(train_data,)

In [141]:
# Print the coefficients and intercept for linear regression
print("Coefficients: {} Intercept: {}".format(lrModel.coefficients,lrModel.intercept))

Coefficients: [1.02358154488,-6.651027152,-270.122598795,801.724802795,294.699621992,107.012946481,-323.75678605,198.184078072,3.06687464563] Intercept: 3704.28065878222

In [142]:
test_results = lrModel.evaluate(test_data)

In [143]:
# Interesting results....
test_results.residuals.show()

+-------------------+
|          residuals|
+-------------------+
|  2308.033572775504|
|-116.41878922339674|
|  4765.741070534419|
| 2881.5339061246063|
|-353.28625225793076|
|  608.2824620944834|
|    4567.8038717949|
|   3230.49293212618|
|-1084.8176214345362|
|-1348.2891930770788|
|  4074.115864269826|
| 2203.2107541640194|
| 4094.0689457258336|
|  1570.647984357172|
|-1367.4454666228107|
|  536.7147792430073|
| 3.1206088059202557|
|  3284.497957252473|
| -75.89490910783161|
| 2361.8595071950745|
+-------------------+
only showing top 20 rows

In [144]:
unlabeled_data = test_data.select('features')

In [145]:
predictions = lrModel.transform(unlabeled_data)

In [146]:
predictions.show()

+--------------------+-------------------+
|            features|         prediction|
+--------------------+-------------------+
|(9,[1,2,6,7],[3.0...| -2308.033572775504|
|(9,[1,2,6,7],[4.0...| 116.41878922339674|
|(9,[1,2,6,7],[7.0...| -4765.741070534419|
|(9,[1,2,6,7],[8.0...|-2881.5339061246063|
|(9,[1,2,6,7],[9.0...| 353.28625225793076|
|(9,[1,2,6,7],[10....| -608.2824620944834|
|(9,[1,2,6,7],[15....|   -4567.8038717949|
|(9,[1,2,6,7],[17....|  -3230.49293212618|
|(9,[1,2,6,7],[18....| 1084.8176214345362|
|(9,[1,2,6,7],[19....| 1348.2891930770788|
|(9,[1,2,6,7],[22....| -4074.115864269826|
|(9,[1,2,6,7],[25....|-2203.2107541640194|
|(9,[1,2,6,7],[25....|-4094.0689457258336|
|(9,[1,2,6,7],[30....| -1570.647984357172|
|(9,[1,2,6,7],[35....| 1367.4454666228107|
|(9,[1,2,6,7],[37....| -536.7147792430073|
|(9,[1,2,6,7],[38....|-3.1206088059202557|
|(9,[1,2,6,7],[44....| -3284.497957252473|
|(9,[1,2,6,7],[45....|  75.89490910783161|
|(9,[1,2,6,7],[46....|-2361.8595071950745|
+--------------------+-------------------+
only showing top 20 rows

In [147]:
print("RMSE: {}".format(test_results.rootMeanSquaredError))
print("MSE: {}".format(test_results.meanSquaredError))

RMSE: 3442.384629516888
MSE: 11850011.93753412

In [150]:
spark_df.select('revenue').describe().show()

+-------+------------------+
|summary|           revenue|
+-------+------------------+
|  count|              6245|
|   mean| 8912.112409927942|
| stddev|10786.315026604458|
|    min|                 0|
|    max|             39999|
+-------+------------------+