In [8]:
!pwd

/home/jovyan/work/Rough

In [21]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Basics').getOrCreate()
car_dataset_url ='/home/jovyan/work/car_ad.csv'
df = spark.read.csv(car_dataset_url, header=True)

In [22]:
df.show(15)

+-------------+---------+---------+-------+----+-------+------------+----+-------+-----+
|          car|    price|     body|mileage|engV|engType|registration|year|  model|drive|
+-------------+---------+---------+-------+----+-------+------------+----+-------+-----+
|         Ford|    15500|crossover|     68| 2.5|    Gas|         yes|2010|   Kuga| full|
|Mercedes-Benz|    20500|    sedan|    173| 1.8|    Gas|         yes|2011|E-Class| rear|
|Mercedes-Benz|    35000|    other|    135| 5.5| Petrol|         yes|2008| CL 550| rear|
|Mercedes-Benz|    17800|      van|    162| 1.8| Diesel|         yes|2012|  B 180|front|
|Mercedes-Benz|    33000|    vagon|     91|  NA|  Other|         yes|2013|E-Class| null|
|       Nissan|    16600|crossover|     83|   2| Petrol|         yes|2013|X-Trail| full|
|        Honda|     6500|    sedan|    199|   2| Petrol|         yes|2003| Accord|front|
|      Renault|    10500|    vagon|    185| 1.5| Diesel|         yes|2011| Megane|front|
|Mercedes-Benz|    21500|    sedan|    146| 1.8|    Gas|         yes|2012|E-Class| rear|
|Mercedes-Benz|    22700|    sedan|    125| 2.2| Diesel|         yes|2010|E-Class| rear|
|       Nissan|20447.154|crossover|      0| 1.2| Petrol|         yes|2016|Qashqai|front|
|Mercedes-Benz|    20400|    sedan|    190| 1.8|    Gas|         yes|2011|E-Class| rear|
|Mercedes-Benz|    22500|    sedan|    164| 1.8|    Gas|         yes|2012|E-Class| rear|
|          BMW|     4700|    sedan|    200|  NA| Petrol|         yes|1996|    316| rear|
|Mercedes-Benz|    21500|    sedan|    159| 1.8|    Gas|         yes|2012|E-Class| rear|
+-------------+---------+---------+-------+----+-------+------------+----+-------+-----+
only showing top 15 rows

In [23]:
df.printSchema()

root
 |-- car: string (nullable = true)
 |-- price: string (nullable = true)
 |-- body: string (nullable = true)
 |-- mileage: string (nullable = true)
 |-- engV: string (nullable = true)
 |-- engType: string (nullable = true)
 |-- registration: string (nullable = true)
 |-- year: string (nullable = true)
 |-- model: string (nullable = true)
 |-- drive: string (nullable = true)

In [24]:
df.columns

['car',
 'price',
 'body',
 'mileage',
 'engV',
 'engType',
 'registration',
 'year',
 'model',
 'drive']

In [25]:
df.describe().show()

+-------+-----+------------------+---------+-----------------+-----------------+-------+------------+------------------+------------------+-----+
|summary|  car|             price|     body|          mileage|             engV|engType|registration|              year|             model|drive|
+-------+-----+------------------+---------+-----------------+-----------------+-------+------------+------------------+------------------+-----+
|  count| 9576|              9576|     9576|             9576|             9576|   9576|        9576|              9576|              9576| 9065|
|   mean| null|15633.317315961785|     null|138.8623642439432|2.646344344782306|   null|        null|2006.6059941520468|2747.7056752873564| null|
| stddev| null|24106.523435656214|     null|98.62975395449988|5.927699368554418|   null|        null| 7.067924205743787| 9920.775922036484| null|
|    min|Acura|                 0|crossover|                0|              0.1| Diesel|          no|              1953|          1 Series|front|
|    max| �UAZ|             99999|      van|              999|               NA| Petrol|         yes|              2016|      ������������| rear|
+-------+-----+------------------+---------+-----------------+-----------------+-------+------------+------------------+------------------+-----+